{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pl-0 justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item disabled">
                    <a href="{% url "liste_url" %}?page={{ page_obj.previous_page_number }}" class="page-link">Précédent</a>
                </li>
            {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="{% url "liste_url" %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url "liste_url" %}?page={{ page_obj.next_page_number }}">Suivant</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}