{% spaceless %}
<section class="cta-section text-center py-5 theme-bg-dark position-relative">
 	<div class="theme-bg-shapes-right"></div>
 	<div class="theme-bg-shapes-left"></div>
 	<div class="container">
 		<h3 class="mb-2 text-white mb-3">Réducteur d’URL</h3>
 		<div class="section-intro text-white mb-3 single-col-max mx-auto">
            Simplifiez vos liens et suivez les statistiques de clic avancées.
            <p class="small">En utilisant notre service, vous acceptez les conditions d’utilisation et la politique de confidentialité.</p>
        </div>
 		<div class="pt-3 text-center">
 			<a class="btn btn-light" href="{% url 'new_url' %}">Réduiser votre lien<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
 		</div>
 	</div>
</section><!-- end cta-section-->
    
{% endspaceless %}