<li class="list-inline-item"><a target="_blank" href="https://web.whatsapp.com/send?phone=22551571396"><i class="fab fa-whatsapp fa-fw"></i></a></li>
<li class="list-inline-item"><a href="https://twitter.com/flavien_hugs" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
<li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/flavien.hugs"><i class="fab fa-facebook-f fa-fw"></i></a></li>
<li class="list-inline-item"><a target="_blank" href="https://github.com/flavien-hugs/"><i class="fab fa-github fa-fw"></i></a></li> 